body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle, #EEAECA 0%, #94BBE9 100%);
    color: #2B2B2B;
}

.title_container {
    text-align: center;
    margin-top: 30px;
}

.card {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px 30px;

    background: linear-gradient(135deg, #E9EEF6 0%, #DCE4F2 100%);
    border-radius: 12px;

    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}

.title_sub {
    text-align: center;
}

.title_sub_info {
    text-decoration: none;
    color: #1F2A44;
    font-weight: 500;
}

.title_sub_info:hover {
    text-decoration: underline;
}

h1 {
    color: #1F2A44;
}

h2 {
    margin-top: 0;
    color: #1F2A44;
}

.resume-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.resume-table th,
.resume-table td {
    padding: 12px 15px;
    text-align: left;
}

.resume-table thead {
    background-color: #1F2A44;
    color: white;
}

.resume-table tbody tr {
    border-bottom: 1px solid #ccc;
}

.resume-table tbody tr:hover {
    background-color: #E9EEF6;
}

.iframe {
    text-align: center;
}