section {
    padding: 20px;
    margin: 20px;
    background-color: #333333;
    border-radius: 4px;
}

figure {
    display: inline-block;
    margin: 15px;
    padding: 10px;
    background-color: #2f2f2f;
    border: 1px solid #444;
    border-radius: 4px;
    width: 180px;
    vertical-align: top;
    text-align: center;
    transition: transform 0.3s ease;
}

figure img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

figure:hover {
    transform: scale(1.08);
    box-shadow: 6px 6px 6px rgb(255, 166, 0);
}

figcaption {
    margin-top: 8px;
    font-size: 14px;
    color: #d0d0d0;

}
