table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #444444;
    color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #2f2f2f;
}

tbody tr:nth-child(odd) {
    background-color: #333333;
}
